

.op{ background: white; height: 150px; position: absolute; width: 415px; display: block; bottom: 0; }
.box{position: relative;  transition: 0.9s; }
.box:hover .op{display: none;}

.con{background:rgba(255, 255, 255, 0.118);}
.quote{width: 45%; } .message{width: 90%; height:130px;}
.news{ top: 70px;}
.contact{width: 33%;}
.shop{position: absolute; background:rgba(0, 0, 0, 0.116); top: 0; display: none; width: 100%; height: 100%; } 
.add:hover .shop{display: block;}
.cart{position: absolute; top: 130px;left: 101px;}